$pink: rgb(224, 34, 158);
$white: rgb(255, 255, 255);
$background-white: rgb(247, 247, 247);
$gray:rgb(82, 79, 91);
$gray-text: rgb(241, 241, 241);
$gray-text-card: rgb(148, 148, 148);

$primary-font: "Raleway", sans-serif; 
$second-font: "Montserrat", sans-serif; 